body {
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Montserrat';
}

.header {
    background-color: #1e5f5f;
    text-align: center;
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}

h1 a {
    color: white;
}

.date {
    text-align: right;
}

.text_in_details {
    font-size: medium;
}

